@page "/"

<PageTitle>GamingSocial | Home</PageTitle>

<div class="set_logo_center">
    <img src="Images/gs_logo_home.png" alt="GamingSocial logo" width="30%" height="30%"/>
</div>
<h1 class="header"><strong>Meet, chat and plan your gaming sessions!</strong></h1>
<div class="text_container">
	<h2>Join groups, discover new friends, show your game collection and more!</h2>
</div>
